<div class="customCard">
    <div class="cardHeader">
        EN STOCK
    </div>
    <div class="mainCard">
        <div class="cardImg">
            <img src="https://d1eh9yux7w8iql.cloudfront.net/product_images/1537351633.48.jpg">
        </div>
        <div class="cardText">
            <span class="site">La Fnac</span><br>
            <span class="name">Iphone 6s</span><br>
            <span class="price">750€</span>
        </div>
    </div>
</div>

<!--border, herde plus fin, largeur card en col 3 -->