<div class="customCard">
    <div class="cardHeader">
        EN STOCK
    </div>
    <div class="mainCard">
        <div class="cardImg">
            <img src="https://d1eh9yux7w8iql.cloudfront.net/product_images/1537351633.48.jpg">
        </div>
        <div class="cardText">
            <span class="site">{{product.nameSite}}</span><br>
            <span class="brand">{{product.nameBrand}}</span><br>
            <span class="name">{{product.name}}</span><br>
            <span class="price">{{product.price}}</span>
        </div>
    </div>
</div>