<div class="customCard">
    <div class="cardHeader">
        EN STOCK
    </div>
    <div class="mainCard">
        <div class="cardImg">
            <img src="assets/img/{{product.img}}.jpg">
        </div>
        <div class="cardText">
            <span class="site">{{product.nameSite}}</span><br>
            <span class="brand">{{product.nameBrand}}</span><br>
            <span class="name">{{product.name}}</span><br>
            <span class="price">{{product.price}}</span>
        </div>
    </div>
</div>

<!--border, herde plus fin, largeur card en col 3 -->