<div *ngFor="let alerte of alertes"> <!--modifié ici avec card alerte-->
  {{alerte | json}}
  {{alerte.name}}
  {{alerte.productTypeName}}
  {{alerte.maxPrice}}
</div>


<div class="d-flex">
  <input type="text"  placeholder="Nom d'alerte" #name class="form-control">
  <div class="dropdown">
    <button class="btn btn-pink btn-outline dropdown-toggle " type="button" id="dropdownBrandButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span *ngIf="!selectedCategory">Catégorie à surveiller</span>
      <span *ngIf="selectedCategory">{{selectedCategory.name}}</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownBrandButton">
      <span class="dropdown-item" (click)="selectCategory(category)" *ngFor="let category of categories">{{category.name}}</span>
    </div>
  </div>

  <div class="dropdown">
    <button [disabled]="!selectedCategory" class="btn btn-pink btn-outline dropdown-toggle " type="button" id="dropdownBrandButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span *ngIf="!selectedProductType">Produit à surveiller</span>
      <span *ngIf="selectedProductType">{{selectedProductType.name}}</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownBrandButton">
      <span class="dropdown-item" (click)="selectProductType(productType)" *ngFor="let productType of displayedProductTypes">{{productType.name}}</span>
    </div>
  </div>

  <input type="number" [disabled]="!selectedProductType" placeholder="Prix maximum d'alerte" #maxPrice class="form-control">
  

  <button class="btn btn-outline" (click)="createAlerte(name.value, maxPrice.value)">Créé une alerte</button>
</div>