<div class="container">
  <div class="row">
    <div *ngFor="let productType of productTypes" class="customCard col-md-4">
      
          <div class="cardHeader">
              DISPONIBLE
          </div>
          <div class="mainCard">
              <div class="cardImg">
                  <img src="assets/img/{{productType.img}}.jpg">
              </div>
              <div class="cardText">
                  <span class="site">{{productType.name}}</span><br>
                  <span class="brand">{{productType.nameBrand}}</span><br>
                  <a href="#" [routerLink]="['/productType', productType.id]" style="color:pink; ">Voir les Deals</a><br>
              </div>
          </div>
      
    </div>
  </div>
</div>