.customCard{
    
    border-radius:20px;
    z-index:1;
    position: relative;
    font-family: 'Roboto:300', sans-serif;
}

.cardHeader{
    background-color:pink;
    color : white;
    border-radius: 20px;
    padding:10px;
    text-align:center;
    width:130px;
    z-index:99;
    margin:auto;
    //margin-top:-20px;
    top: 20px;
    position: relative;
    
}

.mainCard{
    width:80%;
    margin:auto;
    background-color:white;
    border-radius:20px;
}

.cardImg img{
    width:100%;
    border-radius:20px;
    
}

.cardText{
    text-align:center;
    margin-top:20px;
}

.site{
    font-family: 'Roboto:300', sans-serif;
    color:grey;
    font-weight: lighter;
}
.name{
    font-family: 'Roboto400', sans-serif;
    font-weight: bold;
}
.price{
    font-family: 'Roboto500', sans-serif;
    color:pink;
    font-size:1.5em;

}