<!--<div class="container-fluid shadow" id=carouselCompo>
    <h1 class="text-center my-3 title">Les dernières promotions</h1>
    <hr>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner row w-100 mx-auto">
        <div class="carousel-item col-md-4 active">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Card 1</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                a little bit longer.</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Card 2</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                a little bit longer.</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Card 3</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                a little bit longer.</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Card 4</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                a little bit longer.</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Card 5</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                a little bit longer.</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Card 6</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                a little bit longer.</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Card 7</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                a little bit longer.</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mt-4">
            <a class="btn btn mx-1 prev" href="javascript:void(0)" title="Previous">
              <i class="fa fa-lg fa-chevron-left"></i>
            </a>
            <a class="btn btn mx-1 next" href="javascript:void(0)" title="Next">
              <i class="fa fa-lg fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div id="carouselCompo">
  
  <section class="carousel slide shadow" data-ride="carousel" id="postsCarousel">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 title text-center">
                  <h1>LES DERNIERES PROMOS</h1>
              </div>
              <hr>
          </div>
      </div>
      <div class="container p-t-0 m-t-2 carousel-inner">
          <div class="row row-equal carousel-item active m-t-0">
              <div class="col-md-4" *ngFor="let product of displayedProducts">
                <div class="customCard">
                  <div class="cardHeader">
                      EN STOCK
                  </div>
                  <div class="mainCard">
                      <div class="cardImg">
                          <img src="https://d1eh9yux7w8iql.cloudfront.net/product_images/1537351633.48.jpg">
                      </div>
                      <div class="cardText">
                          <span class="site">{{product.nameSite}}</span><br>
                          <span class="brand">{{product.nameBrand}}</span><br>
                          <span class="name">{{product.name}}</span><br>
                          <span class="price">{{product.price}}</span>
                      </div>
                  </div>
              </div>
              </div>
          </div>
          <div class="row row-equal carousel-item m-t-0">
              <div class="col-md-4" *ngFor="let product of displayedProducts">
                <div class="customCard">
                  <div class="cardHeader">
                      EN STOCK
                  </div>
                  <div class="mainCard">
                      <div class="cardImg">
                          <img src="https://d1eh9yux7w8iql.cloudfront.net/product_images/1537351633.48.jpg">
                      </div>
                      <div class="cardText">
                          <span class="site">{{product.nameSite}}</span><br>
                          <span class="brand">{{product.nameBrand}}</span><br>
                          <span class="name">{{product.name}}</span><br>
                          <span class="price">{{product.price}}</span>
                      </div>
                  </div>
              </div>
              </div>

              
          </div>
      </div>
  </section>
</div>