
<div class="m-5 intro col-7">
<h1>Découvrez Weasel,</h1>
<h1>votre nouvel outil de comparaison de produits</h1>
<p>Weasel est une agence de communication numérique 360 qui s’étend dans le domaine de la création graphique, développement web & app, marketing. Fondée depuis septembre 2018, l’agence a su se démarquer par son engagement pour le monde digitale, en particulier dans le monde du e-commerce.
</p>
<button type="button" class="btn btn-rose" routerLink="/video_presentation" routerLinkActive="active">Voir notre outil en vidéo</button>
</div>