
<div class="m-5 intro col-7">
<h1>Découvrez Stay Ahead,</h1>
<h1>votre nouvel outil de comparaison de produits</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mi neque, congue at interdum id, aliquet dignissim elit. Curabitur quis facilisis sem, sed lobortis lectus. Suspendisse sed lorem et libero aliquet interdum in ac nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sed massa id leo suscipit ornare.</p>
<button type="button" class="btn btn-rose" routerLink="/video_presentation" routerLinkActive="active"><span class="my-auto">Voir notre outil en vidéo</span></button>
</div>