/* You can add global styles to this file, and also import other style files */
@import url('../../node_modules/font-awesome/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "variables.scss";
@import "theme/dropdown.scss";
@import "theme/lists.scss";
@import "theme/inputs.scss";
@import "theme/buttons.scss";

body{
    background-color: #f2f2f2;
    background-image: url('../../src/assets/img/header-background.png');
    background-size: 2100px;
    background-repeat:no-repeat;
    background-position: 50% -80px;
    font-family: 'Roboto', sans-serif;
    
}

.title{
    color: #F88C98;
}

hr { 
    display: block;
    width:150px;
    margin: auto;
    margin-bottom:20px;
    margin-top:20px;
    height: 2px; 
    color: #F88C98; 
    background-color: #F88C98; 
    border: none;
} 
.pointer{
    cursor: pointer;
}
.shadow{
    box-shadow: 0px 0px 77px -5px rgba(0,0,0,0.75);
}

.customCard{
    
    border-radius:20px;
    z-index:1;
    position: relative;
    font-family: 'Roboto:300', sans-serif;
}

.cardHeader{
    background-color:pink;
    color : white;
    border-radius: 20px;
    padding:10px;
    text-align:center;
    width:130px;
    z-index:99;
    margin:auto;
    //margin-top:-20px;
    top: 20px;
    position: relative;
    
}


.mainCard{
    width:80%;
    margin:auto;
}

.cardImg img{
    width:100%;
    border-radius:20px;
}

.cardText{
    text-align:center;
    margin-top:20px;
}

.site{
    font-family: 'Roboto:300', sans-serif;
    color:grey;
    font-weight: lighter;
}
.name{
    font-family: 'Roboto400', sans-serif;
    font-weight: bold;
}
.price{
    font-family: 'Roboto500', sans-serif;
    color:pink;
    font-size:1.5em;

}