/* You can add global styles to this file, and also import other style files */
@import url('../../node_modules/font-awesome/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "variables.scss";
@import "theme/inputs.scss";

body{
    background-color: #f2f2f2;
    background-image: url('../../src/assets/img/header-background.png');
    background-size: 2100px;
    background-repeat:no-repeat;
    background-position: 50% -80px;
    font-family: 'Roboto', sans-serif;
    
}

.title{
    color: #F88C98;
}

hr { 
    display: block;
    width:150px;
    margin: auto;
    margin-bottom:20px;
    margin-top:20px;
    height: 2px; 
    color: #F88C98; 
    background-color: #F88C98; 
    border: none;
} 

.shadow{
    box-shadow: 0px 0px 77px -5px rgba(0,0,0,0.75);
}